body{
    /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
    font-family: "poppins";
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 95px;
    height: auto;
    
}

.cabecalho .menu{

    display: flex;
   align-items: center;
   column-gap: 20px;
   height: 100%;
}
.cabecalho .menu_social{

    display: flex;
    align-items: center;
    column-gap: 45px;
    margin-top: 20px;

}
.cabecalho .menu_social svg{
width: 20px;
height: 20px;
opacity: 0.60;
}
.cabecalho .menu_social svg:hover{
    opacity: 1;
    transform: translatey(-5px);
    cursor: pointer; 
    }
.cabecalho{
    display: flex;
    align-items: center;
    column-gap: 48px;
    
}
.cabecalho nav li a {
    font-weight: bold;
    font-size: 25px;
    padding: 10px 20px;
    border-color: red;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0 0 40px 40px red inset, 0 0 0 0 red;
    transition: all 150ms ease-in-out;
    }
    
.cabecalho  nav li a:hover {
    box-shadow: 0 0 10px 0 red inset, 0 0 10px 4px red;
    
    }

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: calc(100vh - 132px);
    padding: 0 30px 30px;
}

.container .imagem-titulo {
    max-width: 500px;

}
.container .descricao {
    color: #a8adb7;
    width: 85%;
    font-size: 18px;
    margin: 30px 0 ;
 }

 .container .botao-trailer{
    background-color: #ff0021;
    color: #ffffff  ;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
 }

 .container .botao-trailer:hover{
    transform: scale(1.1);

 }

 .fundo-video {
    background-color: red;
    position: absolute;
    z-index: -1 ;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
     }

 .fundo-video .video {
    height: 100vh;
     }

     .fundo-video::after{
        content: "" ;
        height: 100vh;  
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;   
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);

   }

   .modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(52 , 52, 50, 0.749) ;
    opacity: 0;
    visibility: hidden;

   }
    .conteudo-modal{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        border-radius: 5px;
        gap: 15px;

    }

    .fechar-modal{
        background-color: #ffffff;
        color: #f03a17;
        font-weight: bold;
        font-size: 20px;
        width: 40px;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
    }

    .modal iframe{
        border-width: 0;
        width: 640px;
        height: 360px;

    }
    .modal.aberto{
        opacity: 1;
        visibility: visible;
        
    }
